<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<footer class="text-center text-lg-start bg-light text-muted mx-5 rounded-pill">
    <!-- Section: Links  -->
    <section class="rounded-pill" style="background-color: darkslateblue; color:cornsilk; font-size:inherit; padding: 2rem 2%;">
        <div class="container text-center text-md-start mt-5">


            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h3 class="fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>GhumGham Nepal
                    </h3>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h3 class="text-uppercase fw-bold mb-4">
                        Services
                    </h3>
                    <p>
                        <a href="#!" class="text-reset">service1</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">service2</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">service3</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h3 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h3>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
                    <p><i class="fas fa-home me-3"></i> Chabahil, KTM, NEPAL</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        ghumghamnepal001@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->


        </div>
    </section>
    <!-- Section: Links  -->


    <!-- Copyright -->
    <div class="text-center p-4 rounded-pill" style="background-color: rgba(0, 0, 0, 0.05); padding: 0.5rem!important;">
        <b>
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="Home/Index">GhumGhamNepal.com</a>
        </b>
    </div>
    <!-- Copyright -->

</footer>
