<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  GhumGham_Nepal</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GhumGham_Nepal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body class="bg-dark bg-gradient">

    <!-- Navbar -->
    <partial name="_headerPartial" />
    <!-- Navbar -->

    <!-- Body -->

    <partial name="_StatusMessagePartial" model="@TempData["Message"]" />

    @RenderBody()
    <!-- Body -->

    <!-- Footer -->
    <partial name="_footerPartial" />
    <!-- Footer -->

    <!-- scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- scripts -->

</body>
</html>
