<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  GhumGham_Nepal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GhumGham_Nepal.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
@*
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    *@
</head>

<body class="bg-dark bg-gradient">

    <!-- Navbar -->
    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a data-aos="zoom-in-left" data-aos-delay="150" asp-controller="Home" asp-action="Index" class="logo"> <i class="fas fa-paper-plane"></i>GhumGham Nepal </a>

        <nav class="navbar" style="margin-bottom: 0px;">
            <a data-aos="zoom-in-left" data-aos-delay="300" asp-controller="Home" asp-action="Index">home</a>
            <a data-aos="zoom-in-left" data-aos-delay="450" href="#about">about</a>
            <a data-aos="zoom-in-left" data-aos-delay="600" asp-controller="Places" asp-action="Index">destination</a>
            <a data-aos="zoom-in-left" data-aos-delay="750" href="#services">services</a>
            <a data-aos="zoom-in-left" data-aos-delay="900" href="#gallery">gallery</a>
            <a data-aos="zoom-in-left" data-aos-delay="1150" asp-controller="Registrations" asp-action="Index">Users</a>
        </nav>

        <a data-aos="zoom-in-left" data-aos-delay="1300" asp-controller="Login" asp-action="Login" class="btn-costom">Login</a>

    </header>
    <!-- Navbar -->

    @RenderBody()

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted mx-5 rounded-pill">
        <!-- Section: Links  -->
        <section class="rounded-pill" style="background-color: darkslateblue; color:cornsilk; font-size:inherit; padding: 2rem 2%;">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h3 class="fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>GhumGham Nepal
                        </h3>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h3 class="text-uppercase fw-bold mb-4">
                            Services
                        </h3>
                        <p>
                            <a href="#!" class="text-reset">service1</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">service2</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">service3</a>
                        </p>
                        
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h3 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h3>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                      
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
                        <p><i class="fas fa-home me-3"></i> Chabahil, KTM, NEPAL</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            GhumghamNepal@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4 rounded-pill" style="background-color: rgba(0, 0, 0, 0.05); padding: 0.5rem!important;">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">GhumGhamNepal.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    *@
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
