@using Microsoft.AspNetCore.Identity
@using GhumGhamNepal.Core.Models.Identity

@inject SignInManager<GhumGhamNepalUser> SignInManager
@inject UserManager<GhumGhamNepalUser> UserManager

<ul class="navbar-nav" style="margin-left:20px;">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            Hello <br> @UserManager.GetUserName(User)!
            <hr />
        </li>
        
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" onclick="return confirm('Are you sure you want to Logout?')" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index">
                <button type="submit" data-aos="zoom-in-left" data-aos-delay="1300" id="logout" class="btn btn-danger btn-lg">Logout</button>
            </form>
        </li>

        <li class="nav-item">
            <hr />
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index">
                <button type="submit">Manage account</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a data-aos="zoom-in-left" data-aos-delay="1300" id="login" class="btn-costom" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        </li>
    }
</ul>
