@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
