@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



<section class="home" id="home">
    <div class="content">
        <span>follow us</span>
        <h3>to the unknown</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quia
            illum quod perspiciatis harum in possimus? Totam consequuntur officia quia?
        </p>
        <a class="btn-costom">book now</a>
    </div>
</section>
<br />



