@{
    ViewData["Title"] = "About Us";
}
<style>
    #spinner {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        background: url(spinner.gif) no-repeat center #fff;
        text-align: center;
        padding: 10px;
        font: normal 16px Tahoma, Geneva, sans-serif;
        border: 1px solid #666;
        margin-left: -50px;
        margin-top: -50px;
        z-index: 2;
        overflow: auto;
    }
</style>

<div class="mt-5">
    <p>.</p>
</div>
<div class="container-md">
    <h1 class="heading2 py-xxl-5 mt-xxl-5">
        <span class="space"></span>
        <span>a</span>
        <span>b</span>
        <span>o</span>
        <span>u</span>
        <span>t</span>
        <span class="space"></span>
        <span>u</span>
        <span>s</span>
    </h1>

    <div id="spinner">
        Loading...
    </div>

    <div class="container-sm" style="margin-top:8%; margin-bottom:15%;">


        <p class="my-xxl-5 text-white" style="text-align:left; font-size:x-large; font-family:Britannic;">
            Welcome to Ghumgham Nepal, your premier travel destination guide that helps you explore the stunning beauty of Nepal. 
            From picturesque locales to local gems, we bring you the best travel information to plan your unforgettable journey. 
            Our platform provides top destinations, captivating photo galleries, insightful travel reviews, trip fares, and more.
        </p>
        <p class="my-xxl-5 text-white" style="text-align:left; font-size:x-large; font-family:Britannic;">
            Not only do we highlight the renowned destinations, but we also shine a light on hidden treasures off the beaten path.
            With Ghumgham Nepal, you can seamlessly connect with hotels across various locations and find your perfect accommodation. 
            Share your travel experiences and feedback, assisting fellow travelers in making informed choices for their next adventure.
        </p>
        <p class="my-xxl-5 text-white" style="text-align:left; font-size:x-large; font-family:Britannic;">
            Our mission is to provide a comprehensive travel resource that empowers you to craft your dream Nepal experience.
            Whether you're a seasoned explorer or embarking on your first adventure, Ghumgham Nepal is your guide to discovering
            the rich culture, stunning landscapes, and warm hospitality of this enchanting nation. Let your journey begin with us!
        </p>

    </div>
</div>

<script type="text/javascript">
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };
</script>
