@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container-md">
    <h1 class="heading2 py-xxl-5 mt-xxl-5">
        <span class="space"></span>
        <span>a</span>
        <span>b</span>
        <span>o</span>
        <span>u</span>
        <span>t</span>
        <span class="space"></span>
        <span>u</span>
        <span>s</span>
    </h1>

    <div style="margin-top:8%; margin-bottom:15%;">

        <h1 class="my-xxl-5 text-center text-white">Use this page to detail your site's privacy policy.</h1>

    </div>
</div>
